.project{
  display: flex;
  flex-direction: column;
  background: rgb(192, 172, 172);
  border-radius: 1.1rem;
  padding: 1rem 1rem;
  max-width: 250px;
  min-width: 250px;
  margin: 0 1rem;
  img {
    max-width: 77%;
    margin: 0 auto;
  }
  p{
    text-align: justify;
  }
  .technologies {
    display: flex;
    margin: 0 auto;
    margin-top: auto;
    .technology {
      display: flex;
      flex-direction: column;
      padding: 0 0.33rem;
      font-size: small;
      p{
        font-size: small;
        text-align: center;
      }
    }
  }
  .project-links {
    a {
      text-decoration: none;
      color: white;
      margin: 0 0.3rem;
      padding: 0.3rem 1rem;
      background: gray;
      border-radius: 1rem;
    }
    a:hover {
      background: rgb(65, 64, 64);
    }
  }
}

.projects {
  display: flex;
  min-width: min-content;
  align-self: center;
}