@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;

@media only screen and (min-width: 768px) {
  @media only screen and (min-height: 768px) {
  .project:hover {
    border: 0.22rem solid $color1;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  }
}

.project{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background: #99ced3;
  color: $color1;
  border: 0rem solid $color1;
  padding: 1rem 1rem;
  max-width: 444px;
  min-width: 350px;
  margin: 0 1rem;
  margin-bottom: 0;
  transition-property: border, margin-bottom, margin-top;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  box-sizing: border-box;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background: $color5;
  }

  p{
    text-align: justify;
    margin-top: 1rem;
    font-size: 1rem;
    ul{
      margin: 0;
      padding: 0 auto;
      li{
        padding-top: 0.2rem;
        list-style-type: circle;
      }
    }
  }
  .technologies {
    display: flex;
    margin: 0 auto;
    margin-top: auto;
    font-size: 1rem;
    color: white;
    .technology {
      display: flex;
      flex-direction: column;
      padding: 0 0.33rem;
      font-size: large;
      p{
        font-size: large;
        text-align: center;
        margin-top: auto;
      }
    }
  }
  .project-links {
    margin-top: 0.5rem;
    a {
      text-decoration: none;
      color: $color1;
      margin: 0.3rem 0.3rem 0 0.3rem;
      padding: 0.6rem 1rem;
      background: $color4;
      font-size: larger;
    }
    a:hover {
      background: $color1;
      color: $color5;
    }
  }
}
.projects {
  display: flex;
  min-width: min-content;
  align-self: stretch;
  animation-name: enter;
  animation-duration: 333ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes enter {
  0%{ opacity: 0;}
  50%{ opacity: 0.5;}
  100%{ opacity: 1;}
}


.description {
  padding-top: 3.3rem;
}

@media only screen and (max-height: 768px) {
  @media only screen and (min-width: 768px) {
    .project:hover {
      border: 0.2rem solid $color1;
      transform: translateY(-20px);
    }
    .project{
      min-height: 84vh;
      max-height: fit-content;
      p{
        ul{
          margin: 0;
          padding: 0 auto;
          li{
            padding-top: 0rem;
          }
        }
      }
      .technologies{
        font-size: 0.77rem;
      }
    }
  }
  .projects{
    min-height: 100vh;
  }
  .project {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.7rem 0.7rem;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    h3{
      font-size: 1rem;
    }
    max-width: 275px;
    min-width: 275px;
    img{
      max-width: 100%;
    }
    p{
      font-size: 0.8rem;
      margin-top: 0.6rem;
    }
    .technologies{
      margin-top: auto;
      .technology{
        padding: 0.22rem;
        h1{
          font-size: 1.75rem;
        }
        p{
          font-size: 0.77rem;
        }
      }
    }
    .project-links{
      a{
        font-size: 0.8rem;
        padding: 0.4rem 0.6rem;
      }
    }
  }
  .description {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .projects{
    flex-direction: column;
    align-items: flex-start;
  }
  .project:hover {
    border: 0.22rem solid $color1;
  }
  .project {
    margin: 1rem auto;
    max-width: 80vw;
    transition-property: border;
    transition-timing-function: ease-in-out;
  }
}
