.project{
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 1rem 1rem;
  max-width: 333px;
  margin: 0 1rem;
  img {
    max-width: 77%;
    margin: 0 auto;
  }
  .technologies {
    display: flex;
    margin: 0 auto;
    .technology {
      display: flex;
      flex-direction: column;
      padding: 0 0.33rem;
      font-size: small;
      p{
        font-size: small;
      }
    }
  }
  .project-links {
    a {
      text-decoration: none;
      color: white;
      margin: 0 0.3rem;
      padding: 0.3rem 1rem;
      background: gray;
      border-radius: 1rem;
    }
    a:hover {
      background: rgb(65, 64, 64);
    }
  }
}