@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic+Coding&display=swap');
$color1: #2E0249;
$color2: #247881;
$color3: #14C38E;
$color4: #FF008E;
$color5: #000000;

.home-page {
  display: flex;
  color: $color1;
  grid-column: 1/4;
  grid-row: 1/6;
  align-self: center;
  font-family: 'Comfortaa';//'Nanum Gothic Coding';
  //font-size: xx-large;

  .intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 3rem;
    p{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    h1{
      font-family: 'Comfortaa';//'Abril Fatface';
      margin: 0 0 0 0.11rem;
      font-size: 9rem;
    }
    h5{
      margin: 0 0 0.5rem 0.11rem;
      font-size: 3rem;
    }
  }

  .cta-icon{
    margin: auto 1rem auto auto;
    color: $color2;
    animation-name: floater;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  a{
    text-decoration: none;
    color: $color1;
    margin: auto auto auto 2rem;
    font-family: 'Comfortaa';
    font-size: 3rem;
    border: 0.22rem solid $color1;
    padding: 0.5rem;
  }
  a:hover{
    background: $color1;
    color: $color5;
  }
  @keyframes floater {
    0%{
      transform: translateX(0rem) scale(200%);;
    }
    50%{
      transform: translateX(1rem) scale(200%);;
    }
    100%{
      transform: translateX(0rem) scale(200%);;
    }
  }
  animation-name: enter;
  animation-duration: 333ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes enter {
  0%{ opacity: 0;}
  50%{ opacity: 0.5;}
  100%{ opacity: 1;}
}
@media only screen and (max-width: 767px) {
  /* phones */
  .home-page{
    flex-direction: column;
    .intro{
      margin-top: 3rem;
      margin-left: 2rem;
    p{
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    h1{
      font-family: 'Comfortaa';//'Abril Fatface';
      margin: 0 0 0 0.11rem;
      font-size: 5.5rem;
    }
    h5{
      margin: 0 0 0.5rem 0.11rem;
      font-size: 1.7rem;
    }
    }
    .cta-icon{
      margin: 0 auto;
      margin-top: 4.4rem;
      svg{
        transform: rotateZ(90deg) scale(150%);
      }
    }
    a{
      margin-top: 1rem;
      margin-left: auto;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    @keyframes floater {
      0%{
        transform: translateY(0rem);
      }
      50%{
        transform: translateY(-1rem);
      }
      100%{
        transform: translateY(0rem);
      }
    }

  }
}
@media only screen and (max-height: 768px) {
  @media only screen and (min-width: 768px) {
    .home-page{
      .intro{
        margin-left: 2.7rem;
        p{
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
        }
        h1{
          font-size: 7.2rem;
        }
        h5{
          font-size: 2.2rem;
        }
      }
      a{
        font-size: 3rem;
        margin-right: 1rem;
      }
    }
  }
}
