.skills-page {
  display: grid;
  width: 72vw;
  max-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  animation-name: enter;
  animation-duration: 333ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes enter {
  0%{ opacity: 0;}
  50%{ opacity: 0.5;}
  100%{ opacity: 1;}
}
.skill {
  img{
    max-width: 150px;
    max-height: 150px;
  }
  img:hover{
    animation-name: hovering;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  @keyframes hovering{
    0%{
      max-width: 150px;
      max-height: 150px;
    }
    50%{
      max-width: 125px;
      max-height: 125px;
    }
    100%{
      max-width: 150px;
      max-height: 150px;
    }
  }
}

@media (max-width: 768px){
  .skills-page {
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    h2{
      font-size: large;
    }
  }
  .skill{
    img{
      max-width: 125px;
      max-height: 125px;
    }
  }
  @keyframes hovering{
    0%{
      max-width: 125px;
      max-height: 125px;
    }
    50%{
      max-width: 100px;
      max-height: 100px;
    }
    100%{
      max-width: 125px;
      max-height: 125px;
    }
  }
}