$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;

.layout {
  display: flex;
  max-height: 100vh;
}

.profile-picture {
  background-color: transparent;
}
.profile-picture:hover {
  background-color: transparent;
}

nav {
  background: $color1;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  justify-items: center;
  color: $color2;
  text-align: center;

  img {
    width: 66%;
    margin: 0 auto;
  }

  .links {
    margin: auto 0;
  }
  a {
    font-size: 2rem;
    display: block;
    background: $color4;
    color: $color1;
    text-decoration: none;
    padding: 0.7rem 0;
  }
  a:hover {
    background: $color5;
  }
  .a-active {
    background: $color3;
  }
  .social-links {
    display: flex;
    margin: 0 auto;
    a {
      font-size: 2rem;
      color: $color5;
      background: transparent;
      padding: 0.3rem 0.3rem;
      margin: 0 0.33rem;
    }

  }

}