$color1: #17252a;
$color2: #2b7a78;
$color3: #3aafa9;
$color4: #def2f1;
$color5: #feffff;

.layout {
  display: flex;
  max-height: 100vh;
}

.profile-picture {
  background-color: transparent;
}

nav {
  background: $color1;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  justify-items: center;
  color: $color5;

  img {
    width: 66%;
    margin: 0 auto;
  }

  .links {
    margin: auto 0;
  }
  a {
    font-size: large;
    display: block;
    background: $color2;
    color: $color5;
    text-decoration: none;
    padding: 0.7rem 0;
  }

  .social-links {
    display: flex;
    margin: 0 auto;
    a {
      background: transparent;
      padding: 0.3rem 0.3rem;
    }

  }

}