$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;

.curtain{
  background: $color1;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  animation-name: curtain-lift;
  animation-delay: 99ms;
  animation-duration: 432ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1,.11,.2,.97);
}
@keyframes curtain-lift {
  0%{
    bottom: 0%;
  }
  100%{
    bottom: 100%;
  }
}
.layout {
  display: flex;
  max-height: 100vh;
}

.profile-picture{
  margin-top: 1rem;
  background-color: $color1;
  p{
    color: $color5;
  }
  a{
    background-color: $color1;
  }
  a:hover {
    background-color: $color1;
  }
}
nav {
  background: $color1;
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100vh;
  justify-items: center;
  color: $color2;
  text-align: center;

  img {
    width: 50%;
    margin: 0 auto;
  }
  .links{
    margin-top:auto;
  }
  a {
    font-size: 1.1rem;
    display: block;
    background: $color4;
    color: $color1;
    text-decoration: none;
    padding: 0.7rem 0;
  }
  a:hover {
    background: $color5;
  }
  .a-active {
    background: $color3;
  }
  .social-links {
    display: flex;
    margin: auto auto 0.33rem auto;
    a {
      font-size: 2rem;
      color: $color5;
      background: transparent;
      padding: 0.3rem 0.3rem;
      margin: 0 0.33rem;
    }

  }

}

@media only screen and (max-width: 767px) {
  /* phones */
  .layout {
    flex-direction: column;
    max-width: 100vw;
  }
  nav {
    display: block;
    width: 100%;
    height: 10%;
    //justify-items: center;
    color: $color2;
    text-align: center;
    .profile-picture{
      text-align: left;
      margin-top: 0;
      a{
        display: flex;
        background: $color1;
      }
      img {
        width: 27%;
        height: auto;
        margin: 0 0;
      }
      p{
        margin-left: auto;
        margin-right: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
      }
    }
    .links{
      display: grid;
      grid-template-columns: 1fr 1fr;
      a{
        font-size: medium;
      }
      .a-active{
        border: 3px solid $color1;
        box-sizing: border-box;
      }
    }
    .social-links {
      margin: 0 35%;
    }

  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}