$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;

.about-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.05fr;
  column-gap: 2rem;
}

.about-content{
  grid-column: 1/3;
}
.about-img{
  grid-column: 3/4;
  img{
    max-width: 95%;
  }
}