$color1: #17252a;
$color2: #2b7a78;
$color3: #3aafa9;
$color4: #def2f1;
$color5: #feffff;

.image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
}

.image {
  //position: relative;
  //bottom: -1.1rem;
  margin: auto;
  box-shadow: 0 0 3px 3px $color3;
}
.image-buttons{
  display: flex;
  margin: auto auto 0 auto;
}

.sliderBtns{
  display: flex;
}
.prev {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(-8rem);
  left: -1%;
  border-radius: 50%;
  border: 0rem solid $color4;
  color: $color5;
  background: #3aafa981;
  box-sizing: border-box;
  transition-property: border;
  transition-duration: 0.3s;
}
.next {
  left: 72%;
}
.prev:hover{
  border: 0.22rem solid $color2;
}

.radio {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: $color3;
  border-radius: 50%;
  margin: 0 0.11rem 0 0.11rem;
  
}
.radio.active{
  box-sizing: border-box;
  border: 0.22rem solid $color3;
  background: $color4;
}