$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;

.image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
}

.image {
  height: auto;
}
.image-buttons{
  display: flex;
  margin: auto;
  margin-top: -1rem;
}

.sliderBtns{
  display: flex;
}
.prev {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(-10rem);
  left: -1%;
  border-radius: 50%;
  border: 0rem solid $color4;
  color: $color5;
  background: #b4dfe57c;
  box-sizing: border-box;
  transition-property: border, color;
  transition-duration: 0.1s;
}
.next {
  left: 75%;
}
.prev:hover{
  border: 0.22rem solid $color2;
  color: $color2;
}

.radio {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: $color5;
  border-radius: 50%;
  margin: 0 0.11rem 0 0.11rem;
  box-sizing: border-box;
}
.radio.active{
  border: 0.22rem solid $color5;
  background: $color2;
}
.radio:hover {
  border: 0.11rem solid $color2;
}

@media only screen and (max-height: 768px) {
  @media only screen and (min-width: 768px) {
    .image-container{
      width: 84%;
      margin: 0 auto;
    }
    .prev {
      position: relative;
      width: 1.75rem;
      height: 1.75rem;
      transform: translateY(-7rem);
    }
    .prev:hover{
      border: 0.11rem solid $color2;
    }
    
    .radio {
      position: relative;
      width: 0.7rem;
      height: 0.7rem;
    }
    .radio.active{
      border: 0.11rem solid $color5;
      background: $color2;
    }
    .radio:hover {
      border: 0.06rem solid $color2;
    }
  }
}