$color1: #2E0249;
$color2: #247881;
$color3: #14C38E;
$color4: #FF008E;
$color5: #000000;

.App{
  text-align: center;
  width: 100%;
}
.active-page{
  a{
    background: $color3;
  }
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
