@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$color1: #17252a;
$color2: #5f6366;
$color3: #99ced3;
$color4: #b4dfe5;
$color5: #d2fdff;
// $color1: #2E0249;
// $color2: #247881;
// $color3: #14C38E;
// $color4: #FF008E;
// $color5: #000000;

body {
  margin: 0;
  font-family: 'Comfortaa', 'Monospace';
  background: $color5;
}


@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  
  .app-content {
    flex: 1;
    display: flex;
    overflow: auto;
    min-width: 100vh;
    background: $color5;
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .app-content{
    flex-direction: column;
    min-width: fit-content;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color1; 
}