@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', 'Monospace';
  background: #423b6d;
}


.app-content {
  display: flex;
  width: 100vw;
  background: olive;
  justify-self: stretch;
  align-self: stretch;
  align-items: center;
}

.transition-enter {
  opacity: 0;
  z-index: 1;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: ease-in;
}