@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', 'Monospace';
  background: #423b6d;
}


.app-content {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: olive;
  justify-self: stretch;
  align-self: stretch;
}